
target/
project/project/
project/target/
.cache/
.history/
.lib/
dist/


.metals/
.bloop/
.bsp/


.idea/
*.iml
*.iws


logs/
run.pid
RUNNING_PID
conf/evolutions/default/1.sql.pending


.DS_Store
*.swp
*.bak
